<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.propertyTypes) {%> <% propertyTypes.forEach(propertyType => { %>
      <li>
        Name: <%= propertyType.type%>
        <a href="/properties/<%= propertyType.type %>">View Properties</a>
      </li>
      <% }); %> <% } %>
    </ul>
  </body>
</html>
