<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/logout">LOG OUT</a>
    <form
      action="/create-message"
      method="POST"
    >
      <label for="title">Add a title!</label>
      <br />
      <input
        id="title"
        name="title"
        placeholder="Enter your title"
      />
      <label for="content">Create a message!</label>
      <br />
      <textarea
        id="content"
        name="content"
        placeholder="Enter your message..."
        rows="4"
        cols="50"
      ></textarea>
      <button>Create</button>
    </form>
    <% } else { %>
    <h1>please log in</h1>
    <form
      action="/login"
      method="POST"
    >
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        placeholder="username"
        type="text"
      />
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
      />
      <button>Log In</button>
    </form>
    <%}%>
  </body>
</html>
